/************************************
Master Layout
**************************************/
body {
}

main {
	padding: 0 2.5rem;
}

html {
	margin: auto;
}

img {
	max-width: 100%;
}

/************************************
Colors
**************************************/
html {
	color: #393939;

	--color-grey: #393939;
	--color-grey-light: #636363;

	--color-white: #fafafa;
}

/************************************
Typography
**************************************/

html {
	font-family: var(--font-primary);

	--font-primary: 'Quicksand', sans-serif;
	--font-secondary: 'Open Sans', sans-serif;

	--ratio: 0.625;

	--size-xxxlarge: 6rem;
	--size-xxlarge: 3.75rem;
	--size-xlarge: 3rem;
	--size-large: 2.125rem;

	--size-xmedium: 1.5rem;
	--size-medium: 1.25rem;

	--size-small: 1rem;
	--size-xsmall: .75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-primary);
	letter-spacing: 3px;
}

h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-weight: 100;
	font-size: var(--size-xxxlarge);
}

@media ( min-width: 400px ) {

	h1 {
		font-size: var(--size-large);
	}
}

@media ( min-width: 600px ) {

	h1 {
		font-size: var(--size-xxlarge);
	}
}

@media ( min-width: 800px ) {

	h1 {
		font-size: var(--size-xxxlarge);
	}
}

h2 {
	font-size: var(--size-xxlarge);
	margin-bottom: .5rem;
	font-weight: 100;
}

@media ( min-width: 400px ) {

	h2 {
		font-size: var(--size-xmedium);
	}
}

@media ( min-width: 600px ) {

	h2 {
		font-size: var(--size-xlarge);
	}
}

@media ( min-width: 800px ) {

	h2 {
		font-size: var(--size-xxlarge);

	}
}

h3 {
	font-size: var(--size-xlarge);
	font-weight: 100;
}

@media ( min-width: 400px ) {

	h3 {
		font-size: var(--size-xmedium);
	}
}

@media ( min-width: 600px ) {

	h3 {
		font-size: var(--size-large);
	}
}

@media ( min-width: 800px ) {

	h3 {
		font-size: var(--size-xlarge);
	}
}

h4 {
	font-size: var(--size-large);
	font-weight: 100;
}

h5 {
	font-size: var(--size-xmedium);
}

h6 {
	font-size: var(--size-medium);
	font-weight: 100;
}

p {
	font-family: var(--font-secondary);
	font-size: var(--size-small);
	line-height: 2;
	color: var(--color-grey-light);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color:;
}

a:active {

}

.caption {
	font-size: var(--size-xsmall);
}

/************************************
Header Component
**************************************/

header {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
	padding: 0 2.5rem;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-size: var(--size-xlarge);
	font-weight: 300;
	text-transform: uppercase;
}

/************************************
Footer Component
**************************************/

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3rem;
}

footer a {
	padding: .2rem;
	text-transform: uppercase;
	font-family: var(--font-secondary);
	color: var(--color-grey-light);
	font-size: var(--size-xsmall);
	font-weight: 100;
	letter-spacing: 2px;
}

footer a:hover {
	font-weight: 700;
	color: var(--color-grey);
}

/************************************
Primary Navigation
**************************************/

.nav-site {
	margin-top: 1.5rem;
}

.nav-site ul {
	font-weight: 300;
	letter-spacing: 3px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: var(--size-xsmall);
}

.nav-site li a {
	color: var(--color-grey-light);
	display: inline-block;
	font-family: var(--font-secondary);
	margin-right: 1rem;
	text-decoration: none;
}

.nav-site li a:hover {
	text-decoration: underline;
}

.nav-site .current-page {
	font-weight: 600;
	color: var(--color-grey);
}

@media ( min-width: 400px ) {

	.current-page {
		border-left: 1px solid black;
	}
}

@media ( min-width: 650px ) {

	.current-page {
		border-left: none;
	}

}

@media ( min-width: 650px ) {

	.nav-site li {
		display: inline;

	}

	.nav-site li a {
		padding: 0;
	}

}

header {
	display: flex;
	justify-content: space-between;
}



/************************************
Secondary Navigation
**************************************/

.secondary-nav {
	margin-top: 1.5rem;
}

.secondary-nav ul {
	font-weight: 300;
	letter-spacing: 3px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: var(--size-xsmall);
}

.secondary-nav li a {
	color: var(--color-grey-light);
	display: inline-block;
	font-family: var(--font-secondary);
	margin-right: 1rem;
	text-decoration: none;
}

.secondary-nav li a:hover {
	text-decoration: underline;
}

@media ( min-width: 650px ) {

	.nav-site li {
		display: inline;
	}

	.nav-site li a {
		padding: 0;
	}

}

.secondary-nav .current-page {
	font-weight: 600;
	color: var(--color-grey);
}

/************************************
Portfolio Grid
**************************************/

.work-grid {
	align-items: center;
	display: grid;
	grid-gap: 1.5rem;
	justify-content: center;
}


@media ( min-width: 400px ) {
	.work-grid {
		grid-template-columns: 1fr;
	}


}

@media ( min-width: 700px ) {
	.work-grid {
		grid-template-columns: 1fr 1fr;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 3rem;
	}
}

/************************************
Portfolio Cards
**************************************/

.card {
	display: inline-block;
	position: relative;
}

a span {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	letter-spacing: 5px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

a:hover span {
	background-color: white;
	opacity: 1;
	transition: 0.1s background-color linear, 0.1s color linear;

}

span p {
	color: var(--color-grey);
	font-family: var(--font-primary);
	font-size: var(--size-large);
	font-weight: 100;
	text-transform: uppercase;
}

/******************************************
Form Inputs
******************************************/

input, textarea, select {
	border: .0625rem solid var(--color-grey);
	display: block;
	margin-bottom: 1.25rem;
}

input, textarea {
	border-radius: .20rem;
	padding: 1rem;
}

textarea {
	min-height: 10rem;
}

textarea:focus, input:focus, select:focus {
	border: .0625rem solid var(--color-grey);
	outline: none;
}

textarea:active, input:active, select:active {
	transform: scale(1.002);
}

textarea[disabled], input[disabled], select[disabled] {
	background-color: var(--color-grey-light);
	border: .0625rem solid var(--color-grey);
	cursor: no-drop;
}

label {
	display: block;
	margin: 0 0 5px 0;
}

@media ( min-width: 400px ) {

	input, textarea, select {
		align-items: flex-start;
		display: flex;
		min-width: 90%;
	}

}

@media ( min-width: 550px ) {

	input, textarea, select {
		min-width: 20rem;
	}

	.contact {
		align-items: center;
		display: flex;
		flex-direction: column;
		letter-spacing: 3px;
	}

}

@media ( min-width: 750px ) {

	input, textarea, select {
		min-width: 30rem;
	}

}

button, input[type="submit"] {
	background: var(--color-white);
	border: 2px solid red;
	color: red;
	cursor: pointer;
	display: block;
	font-family: var(--font-secondary);
	font-size: var(--size-small);
	letter-spacing: 2px;
	margin-bottom: 1rem;
	min-width: 10rem;
	padding: 12px 8px 12px 8px;
	text-transform: uppercase;
}

button:active, input[type="submit"]:active, .active {
	text-transform: uppercase;
}

button:hover, input[type="submit"]:hover, .hover {
	background-color: red;
	color: var(--color-white);
	transition: 0.15s background-color linear, 0.1s color linear;
}

button:focus, input[type="submit"]:focus, .focus {
	transform: scale(1.02);
}

.contact h5 {
	margin-top: 3rem;
}

/**************************************
Hero Component
*****************************************/

@media ( min-width: 400px ) {
	.hero {
		display: grid;
		grid-template-columns: 1fr;
		margin: 2rem;
	}

	.hero .primary-button {
		font-size: var(--size-xsmall);
		padding: 1rem 1rem;
	}

	.hero h1 {
		font-size: var(--size-large);
	}
}

@media ( min-width: 510px ) {
	.hero {
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		justify-content: center;
		align-items: center;
	}

	.hero h1 {
		font-weight: 400;
		color: var(--color-grey);
		font-size: var(--size-xlarge);
		margin: 0 0 0 1rem;
	}
}

@media ( min-width: 745px ) {
	.hero {	
		grid-template-columns: 2fr 1fr;
	}

	.hero h1 {
		font-size: var(--size-large);
	}

	.hero .primary-button {
		padding: .5rem 2rem;
		text-align: center;
	}

}

@media ( min-width: 900px ) {

	.hero {
		margin-left: 5rem;
		margin-right: 5rem;
	}

	.hero h1 {
		font-size: var(--size-large);
	}

}

@media ( min-width: 1000px ) {
	.hero {
		grid-template-columns: 2fr 1fr;
		margin-left: 8rem;
		margin-right: 8rem;
	}

}

@media ( min-width: 1200px ) {

	.hero h1 {
		font-size: var(--size-xxlarge);
	}

	.hero .primary-button {
		padding: 1rem 3.3rem;
	}
}

/**************************************
About me page 
*****************************************/


@media ( min-width: 400px ) {
	.about-me {
		margin-left: 0;
	}

	.about-me h1 {
		font-size: var(--size-large);
	}
}

@media ( min-width: 600px ) {
	
	.about-me {
		padding-left: 11.5px;
		padding-right: 11.5px;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		margin-bottom: 4rem;
		line-height: 2;
	}

	.about-me h1 {
		font-size: var(--size-xxlarge);
		margin: 0;
	}
}

/**************************************
Buttons
*****************************************/

.primary-button {
	background-color: white;
	border-radius: 2.9rem;
	border: 2px solid var(--color-grey);
	color: var(--color-grey);
	display: inline-block;
	font-family: var(--font-secondar);
	margin: 2rem 1rem 1rem 1rem;
	padding: 1rem 3.3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.primary-button:visited {
	background-color: var(--color-grey);
	color: var(--color-white);
}

.primary-button:hover, .button-hero:focus  {
	background-color: var(--color-grey);
	color: var(--color-white);
	transition: all .1s ease-in-out;
}

.primary-button:active {
	transform: scale(0.99);
}

/**************************************
Resume
*****************************************/

.resume-grid h4 {
	margin-bottom: 0;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

@media ( min-width: 800px ) {
	.resume-grid {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

}

@media ( min-width: 1100px ) {
	.resume-grid {
		padding-left: 11rem;
		padding-right: 11rem;
	}

}

.skills p {
	margin: 0;
}

.skills section {
	margin-top: 1rem;
}

/**************************************
Portfolio Item 1 - Nextbus
*****************************************/

.intro-content h1 {
	text-align: center;
}

@media (min-width: 400px) {
	.intro-content {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px ) {
	.intro-content {
		padding-left: 11rem;
		padding-right: 11rem;
	}
}

@media (min-width: 790px) {

	.intro-content-grid, .team-grid, .analysis-grid, .user-testing-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3rem;
		align-items: center;
	}

	.team-grid {
		align-items: start;
	}

	.user-testing-grid {
		grid-gap: 2rem;
	}
}

/**************************************
Portfolio Item 2 - #tagether
*****************************************/

.intro-tagether h1 {
	text-align: center; 
}


@media (min-width: 400px) {
	.intro-tagether {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px ) {
	.intro-tagether {
		padding-left: 11rem;
		padding-right: 11rem;
	}
}


@media (min-width: 750px ) {
	.tagether-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
}

@media (min-width: 1000px ) {
	.tagether-grid {
		grid-gap: 8rem;
	}
}

